body {
  background-color: black;
}

.bg-box {
  margin-top: 150px;
  margin-left: 500px;
  outline: 5px solid red;
  background-color: green;
  padding: 150px;
  width: 597px;
  height: 380px;
  background-image: url(./assets/donut.png), url(./assets/ezhyk.png), url(./assets/grass.png), url(./assets/house.png), url(./assets/lightbulb.png);
  background-repeat: repeat-y, repeat-y, repeat-x, no-repeat, repeat-x;
  background-position: right, left, bottom, center, top;
  background-size: 30px, 40px, 100px, auto, 36px;
}
